<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->

<!--<button nz-button nzType="primary">Button</button>-->


<!--<app-input-tooltip *ngFor="let i of inpArr"></app-input-tooltip>-->

<!--<app-select-search ></app-select-search>-->



<div style="padding: 100px">
  <div style="margin-bottom: 100px">
    <nz-select
      [nz-tooltip]="initVal.name"
      style="width: 120px;"
      nzAllowClear
      nzShowSearch
      [nzFilter]="false"
      [(ngModel)]="initVal.name"
      (nzOpenChange)="doOpen($event)"
      (nzSearchChange)="doSearch($event)"
      (ngModelChange)="change($event)"
      [nzNotFoundContent]="'无法找到'"
      [nzDisabled]="isDisable">
      <ng-container>
        <nz-option
          *ngFor="let option of mockDate"
          [nzLabel]="option.bond_shortname"
          [nzValue]="option.bond_shortname">
        </nz-option>
      </ng-container>
    </nz-select>
  </div>

  <app-search-select style="width: 120px;" (nzSearchChange)="doSearch($event)" (nzOpenChange)="doOpen($event)"
                     (ngModelChange)="change($event)"
                     [nz-tooltip]="initVal.name"
                     nzAllowClear
                     [(value)]="initVal.name"
                     [nzDisabled]="isDisable"
                     [data]="mockDate"
                     [nzNotFoundContent]="'not found innn'" [nzPlaceHolder]="'please select search'"  [nzOptionLabel]="'bond_shortname'">

  </app-search-select>
  {{initVal.name}}
  <button (click)="test()">change</button>
  <button (click)="isDisable=!isDisable">change</button>
</div>

