<div class="search-select-container">  <!---->
  <div class="search-select-head" (mouseover)="_showClear($event)"  [class.disabled]="_disabled"
       (mouseout)="_hiddenClear($event)" >
    <div class="ant-select__placeholder" [hidden]="!_optionListShow">{{nzPlaceHolder}}</div>
    <input #inputElement type="text" title [readonly]="_disabled" [hidden]="_optionListShow"
           (keydown)="onKeyDownChangeSelected($event)" 
           [(ngModel)]="value"    autofocus>
    <span *ngIf="_allowClear" class="select-selection-clear" [hidden]="!_clearIcon"  (click)="onClearSelected($event)">
      <i class="anticon anticon-close-circle-o"></i></span>
    <span class="ant-select-arrow">
      <i class="anticon anticon-down"></i></span>
  </div>

  <div class="search-select-content" *ngIf="_optionListShow">
    <ul class="search-dropdown-menu" >
      <!--<ng-content></ng-content>-->
      <li *ngFor="let item of data; let i = index" (click)="_updateSelectedOption(item)"
          [class.item-selected]="selectedIndex === i">{{item[nzOptionLabel]}}</li>
    </ul>
    <div *ngIf="!data.length && value">{{nzNotFoundContent}}</div>
  </div>
</div>
