@import "../../theme";
.search_main{
  display: flex;
  .search_input{
    width: 210px;
    position: relative;
    display: flex;
    input{
      padding: 0 30px 0 6px;
      width: 200px;
      height: 28px !important;
      line-height: 28px;
      background: $inputBackgroundColor;
      border-radius: 2px;
    }
    input::-webkit-input-placeholder{
      color:$input-placeholderColor;
    }
    .clearBtnSummary{
      transform: translate(-25px, 10px);
      display: inline-block;
      width: 11px !important;
      height: 11px !important;
      cursor: pointer;
    }
    .clearBtnHidden{
      display: inline-block;
      width: 11px !important;
      height: 11px !important;
      cursor: pointer;
      transform: translate(-25px, 13px);
    }
    .searchTip{
      position: absolute;
      left: 0;
      top: 32px;
      background: #232628;
      border: 1px solid rgba(255, 255, 255, 0.13);
      z-index: 10;
      margin: 0;
      padding: 0;
      width: 200px;
      cursor: pointer;
      .select {
        background-color: #274444;
      }
      li:hover {
        background-color: #274444;
      }
    }
  }
  .search_button{
    padding: 0 8px;
    background: #51aba0;
    height: 28px;
    line-height: 28px;
    border-radius: 2px;
  }
}
