<div class="search-select-container ant-select" [class.select-open]="_optionListShow"
     cdkOverlayOrigin>
  <div class="select-head" (mouseover)="_showClear($event)" (keydown)="onKeyDownChangeSelected($event)" [class.disabled]="_disabled"
       (mouseout)="_hiddenClear($event)" >
    <div class="ant-select-selection__placeholder" [hidden]="!_optionListShow">{{nzPlaceHolder}}</div>
    <input type="text"  [hidden]="_optionListShow"
           [(ngModel)]="value" >
    <div class="ant-select__search">
      <input type="text" #inputElement  class="search-val" [hidden]="!_optionListShow"
             (input)="clearPlaceholder(inputElement.value)" autofocus>
    </div>
    <span *ngIf="_allowClear" class="select-selection-clear" [hidden]="!_clearIcon"  (click)="onClearSelected($event)">
      <i class="anticon anticon-close-circle-o"></i></span>
    <span class="ant-select-arrow" [hidden]="_clearIcon"></span>
  </div>



  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOrigin]="cdkOverlayOrigin"
    (backdropClick)="closeDropDown()"
    (detach)="closeDropDown()"
    [cdkConnectedOverlayOpen]="!isDestroy"
  >
    <div class="select-options-content">
      <ul class="search-dropdown-menu" >
        <!--<ng-content></ng-content>-->
        <li *ngIf="isNotFoundDisplay" class="not-found">{{nzNotFoundContent}}</li>
        <li *ngFor="let item of data; let i = index" (click)="_updateSelectedOption(item)"
            [class.item-selected]="selectedIndex === i"
            [class.item-keydown-selected]="keyDownIndex === i"
        >{{item[nzOptionLabel]}}</li>
      </ul>
    </div>
  </ng-template>
</div>
